openapi: 3.0.0
info:
  title: Uniswap Trading on Arbitrum API
  description: API for buying and selling tokens on Uniswap via the Arbitrum network. Allows trading tokens like WETH, USDT, USDC, DAI, etc., with fast execution and low fees.
  version: 1.0.0
  contact:
    name: Arbitrum API Support
    email: support@arbitrum-api.co
    url: https://arbitrum-api.co/support

servers:
  - url: https://arbitrum-api.co/api/v1
    description: Main API server

paths:
  /uniswap/buy:
    post:
      summary: Buy Tokens via Uniswap on Arbitrum
      description: Use this endpoint to buy tokens on Uniswap through the Arbitrum network.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                private_key:
                  type: string
                  description: Your private key (in BASE58 format) to authorize the transaction and cover the transaction fee.
                  example: "PRIVATE_KEY_BASE58"
                token_in:
                  type: string
                  description: The token you’re sending (e.g., ETH or WETH).
                  example: "0xWETHAddress"
                token_out:
                  type: string
                  description: The token you want to purchase.
                  example: "0xDAIAddress"
                amount_in:
                  type: number
                  description: The amount of tokens you want to swap (e.g., 0.1 ETH).
                  example: 0.1
                slippage:
                  type: number
                  description: The acceptable slippage percentage (e.g., 1% or 10%).
                  example: 1
                deadline:
                  type: integer
                  description: The UNIX timestamp by which the transaction must be completed.
                  example: 1685318880
                recipient:
                  type: string
                  description: The address where the purchased tokens will be sent.
                  example: "0xRecipientAddress"
      responses:
        200:
          description: Token purchase successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  txid:
                    type: string
                    example: "0x3d97fd5f5c24990b395f6a6b989bfb4d5fd0c3b9c620b687e3203d0fda05939d"
        400:
          description: Invalid request (e.g., insufficient liquidity, incorrect parameters).
        500:
          description: Internal server error.

  /uniswap/sell:
    post:
      summary: Sell Tokens via Uniswap on Arbitrum
      description: Use this endpoint to sell tokens (e.g., DAI, USDC) and receive WETH or ETH on Uniswap via Arbitrum.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                private_key:
                  type: string
                  description: Your private key to authorize the transaction and cover the transaction fee.
                  example: "PRIVATE_KEY_BASE58"
                token_in:
                  type: string
                  description: The token you want to sell (e.g., DAI, USDC).
                  example: "0xDAIAddress"
                token_out:
                  type: string
                  description: The token you want to receive (e.g., WETH or ETH).
                  example: "0xWETHAddress"
                amount_in:
                  type: number
                  description: The amount of tokens you want to sell.
                  example: 50000
                slippage:
                  type: number
                  description: The acceptable slippage percentage (e.g., 1% or 10%).
                  example: 1
                deadline:
                  type: integer
                  description: The UNIX timestamp by which the transaction must be completed.
                  example: 1685318880
                recipient:
                  type: string
                  description: The address where the received tokens will be sent.
                  example: "0xRecipientAddress"
      responses:
        200:
          description: Token sale successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  txid:
                    type: string
                    example: "0x5c987cb9d95cd3a4c479d88b800e2b1f55c4c2a8121c4137f7415f96461a78f2"
        400:
          description: Invalid request (e.g., insufficient liquidity, incorrect parameters).
        500:
          description: Internal server error.

  /uniswap/pool/info:
    get:
      summary: Get Pool Information on Uniswap via Arbitrum
      description: Fetch detailed information about Uniswap liquidity pools on Arbitrum.
      parameters:
        - name: token_in
          in: query
          required: true
          description: The address of the base token (e.g., USDC).
          schema:
            type: string
            example: "0xA0b86991c6218b36c1d19D4A2e9eb0Ce3606e50E"
        - name: token_out
          in: query
          required: true
          description: The address of the quote token (e.g., WETH).
          schema:
            type: string
            example: "0x5e2dfffa50a2b4e8f4d5003f3f49a2d9e9bc74b2"
        - name: liquidity_provider
          in: query
          required: false
          description: The address of the liquidity provider.
          schema:
            type: string
            example: "0xLiquidityProviderAddress"
        - name: pool_id
          in: query
          required: false
          description: The unique identifier of the liquidity pool.
          schema:
            type: string
            example: "0x62e7bd6c79d50d3c1d9b742f1d3f26b8f29b9f87"
      responses:
        200:
          description: Pool information retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  pool_data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "0x62e7bd6c79d50d3c1d9b742f1d3f26b8f29b9f87"
                      base_token_address:
                        type: string
                        example: "0xA0b86991c6218b36c1d19D4A2e9eb0Ce3606e50E"
                      quote_token_address:
                        type: string
                        example: "0x5e2dfffa50a2b4e8f4d5003f3f49a2d9e9bc74b2"
                      total_liquidity:
                        type: string
                        example: "3000 WETH"
                      price:
                        type: string
                        example: "1 USDC = 1 WETH"
        400:
          description: Invalid request (e.g., unknown token addresses).
        500:
          description: Internal server error.

  /uniswap/balance:
    get:
      summary: Get User's Token Balance on Uniswap
      description: Fetch the current balance of a specific token for a user.
      parameters:
        - name: user_address
          in: query
          required: true
          description: The wallet address of the user.
          schema:
            type: string
            example: "0xYourWalletAddress"
        - name: token_address
          in: query
          required: true
          description: The token address to check the balance for.
          schema:
            type: string
            example: "0xUSDCAddress"
      responses:
        200:
          description: Balance retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  balance:
                    type: string
                    example: "1000.00"
        400:
          description: Invalid request (e.g., incorrect token or address).
        500:
          description: Internal server error.

  /uniswap/transaction/status:
    get:
      summary: Get Transaction Status
      description: Fetch the status of a transaction by its transaction ID (txid).
      parameters:
        - name: txid
          in: query
          required: true
          description: The transaction ID to check the status of.
          schema:
            type: string
            example: "0x3d97fd5f5c24990b395f6a6b989bfb4d5fd0c3b9c620b687e3203d0fda05939d"
      responses:
        200:
          description: Transaction status retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  block_number:
                    type: integer
                    example: 1234567
                  confirmations:
                    type: integer
                    example: 12
        400:
          description: Invalid transaction ID.
        500:
          description: Internal server error.

components:
  schemas:
    TokenTransaction:
      type: object
      properties:
        private_key:
          type: string
        token_in:
          type: string
        token_out:
          type: string
        amount_in:
          type: number
        slippage:
          type: number
        deadline:
          type: integer
        recipient:
          type: string

